<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />
</head>
<body>
  
    <div>
        <div class="top-L">
            <svg height="200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M64 32c17.7 0 32 14.3 32 32V416H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H64c-17.7 0-32-14.3-32-32V64c0-17.7 14.3-32 32-32z"/></svg>
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <div class="bottom-L">
           <svg height="200px" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
                  <path d="M 34.59 48.16 C 52.29 48.16 66.59 62.46 66.59 80.16 L 66.59 432.16 L 258.59 432.16 C 276.29 432.16 290.59 446.46 290.59 464.16 C 290.59 481.86 276.29 496.16 258.59 496.16 L 34.59 496.16 C 16.89 496.16 2.59 481.86 2.59 464.16 L 2.59 80.16 C 2.59 62.46 16.89 48.16 34.59 48.16 Z"/>
                <rect x="178.976" y="218.182" width="14.205" height="215.341" style="stroke: rgb(0, 0, 0);"/>
                <rect x="64.205" y="326.704" width="117.615" height="13.068" style="stroke: rgb(0, 0, 0);"/>
               
            </svg>
        </div>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
